* {
    box-sizing: border-box;
}
body {
    margin: 1px;
    background-color: #ffffff;
}
h6 {
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 26px;
    margin: 1em;
}
.navbar{
    background-color: #ffffff;
    height: 60px;
    padding: 0;
}
.left-item{
    align-items:center;
    margin: 0;
    padding: 0;
    list-style: none;
    /*padding: 0;*/
    display: flex;
    text-decoration: none;
}
.form-label {
    width: 200px;
    background-color: #ffffff;
}
.form-control{
    width: 100px;
}
.middle-item{

}
.right-item{
    margin: 0;
    padding-bottom: 5px;
    list-style: none;
}
.right-items{

}
nav a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 0 10px;
}
nav a:hover {
    background: darkgrey;
    height: 20px;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin: 5em;
}

.jumbotron-container {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    background-image: url(../assets/pizza.png);
    height: 100%;
    margin: 10px;
}
.layer{
    margin: 0;



}
.jumbotron-container::before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 246, 246, 0);

}
.jumbotron-content {
    position: relative;
    margin: 0;

}
.container-fluid{
    margin: 0 0 0 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.32);

}
.text-center{
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgba(211, 211, 211, 0.3);
}

.container{
    margin: 1em;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    font-family: 'Lato', sans-serif;
    margin: 0 0 10px 0;
    border: none;
}
.tab .nav-tabs li a{
    color: #444;
    background: linear-gradient(to top right, #ffffff 49%, #ffffff 50%);
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li:last-child a{ margin-right: 0; }
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active {
    color: #94a1a6;
    border: solid 1em darkgray;
}
.tab .nav-tabs li a:before{
    content: "";
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: 0 50% 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease-out 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.tab .tab-content{
    color: #08080a;
    background: linear-gradient(to top right, #ffffff 49%, #ffffff 50%);
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 30px;
    padding: 0;
    box-shadow: 0 0 10px -5px rgba(100, 149, 237, 0.99);
    position: relative;
}
.tab .tab-content h3{
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
}
.btn-primary{
    alignment: right;
}
.card-body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.card2-header{
    background-color: lightgray;
}
@media only screen and (max-width: 767px){
    .tab .nav-tabs li a{ padding: 10px 20px; }
}
@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        text-align: center;
        width: 100%;
        margin-bottom: 15px;
    }
}
.btn-primary{
    font-size: 18px;
    justify-items: left;
    background-color: slategray;
    margin-bottom: 3px;
    border-radius: 25px;
    border: none;
    align-items: center;
}
.badge{
    font-size: 14px;
    margin: 5px;
}

.btn:hover {
    background-color: steelblue;
}
.card-footer{
    background-color: lightgray;
    display: flex;
    justify-content: right;
    padding: 0;
}
.btn-secondary{
    background-color: blue;
}
.card{
    margin: 10px;
    padding: 0;
}
.card-text{
    margin: 0;
    padding-left: 10px;
}

.container1{
    padding-left: 10px;
}
.container2{
    padding-left: 10px;
}
hr{
    margin: 0;
}
select{
    width: 95%;
    margin: 10px;
}
.col{
    padding: 0;
}

/*JavaScript (Tab depend on jQuery and Bootstrap.)*/
/*1*/
/*2*/
/*<script src="https://partner.googleadservices.com/gampad/cookie.js?domain=bestjquery.com&callback=_gfp_s_&client=ca-pub-3311815518700050&cookie=ID%3D3369f14fafeeaefc-22e1cd14eecf0081%3AT%3D1640970141%3ART%3D1640970141%3AS%3DALNI_MbgfSVRtVkwgTh-4lUvTZkKmllOqw"></script><script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202112060101/show_ads_impl_fy2019.js" id="google_shimpl"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*/

/*                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     align-items: right;*/
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               License Terms