#orange {
    color: orange;
}

h1 {
    color: darkgreen;
}

h2 {
    color: darkred;
}
p {
    color: green;
}
.purple {
    color: purple;
}
#title {
    color: mediumvioletred;
}
selector {
    color: blueviolet;
}